<footer>
      <div>

        <!-- Facebook Like Button -->
        <div id="fb-like" class="fb-like" data-send="false" data-width="400" data-show-faces="false" data-font="lucida grande"></div>
        <div id="fb-root"></div>

          <section id="glossary">
              <h3>What does it mean?</h3>
              <dl>
                <dt><abbr title="Words per minute">WPM:</abbr></dt>
                <dd>Words per minute. A word is standardized to five characters or keystrokes, including spaces and punctuation.</dd>

                <dt><abbr title="Net words per minute">NWPM:</abbr></dt>
                <dd>Words per minute minus 2 for each error.</dd>

                <dt><abbr title="Errors">Errors:</abbr></dt>
                <dd>Number of incorrect terms. Terms are separated by spaces.</dd>

                <dt><abbr title='Does not qualify'>DNQ:</abbr></dt>
                <dd>Does not qualify. Entry must be within 10 characters of the phrase to qualify.</dd>

                <dt><abbr title='Pangram'>Pangram:</abbr></dt>
                <dd>A sentence using every letter of the alphabet at least once.</dd>
              </dl>
          </section>
          <section id="controls">
              <h4>CONTROLS</h4>
              <p>type to begin</p>
              <p>[h]elp / shortcuts <kbd>h</kbd></p>
              <p>stop clock <kbd>enter</kbd> or <kbd>esc</kbd></p>
              <p>[n]ext phrase <kbd>&rarr;</kbd> or <kbd>n</kbd></p>
              <p>[r]etry phrase <kbd>R</kbd></p>
              <p>[s]tatistics <kbd>S</kbd></p>
              <p>set [u]sername <kbd>U</kbd></p>
              <p>replay animation[.] <kbd>.</kbd></p>
          </section>
      </div>
      <div id="credits">
        <p>
          <strong>how fast do you type?</strong> i'm working on it. it's here, for now on the real internet. &mdash;<a href="http://twitter.com/#!/rpastorelle/">Ryan Pastorelle</a></p>
      </div>
</footer>